<%- include('../partials/header') %>

<h2 class="mb-4">About Me</h2>
<p>
  I’m Isabela, a Technology Management student at Ontario Tech University working towards my Bachelor’s degree in Information Technology.
  I'm passionate about bringing creativity and structure into my work, whether it’s designing something useful, 
  solving real problems, or helping people through teamwork. I enjoy learning about topics like space communications, and cybersecurity, and I hope to build a career that connects both business and tech. Currently, I'm working as a Records and Scheduling Assistant for the Office of the Registrar for Ontario Tech University where I help manage student records and emails. Additionally, I also work as a Campus Tour Guide where I lead prospective students and their families around campus, sharing insights about university life and academics.
  Outside of school, I love baking and exploring entrepreneurial ventures hence why I have a small baking business called "Beliciousweets" where I create custom cakes and desserts for special occasions. You can find me on Instagram or Facebook with the handle @beliciousweets!
  I also volunteer at my local church mentoring youth and helping with worship services. In my free time, I like being creative, exploring new ideas and giving back to my community.
</p>

<!-- ===== PHOTO CAROUSEL START ===== -->
<div id="aboutCarousel" class="carousel slide mb-4" data-bs-ride="carousel">
  <!-- dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#aboutCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#aboutCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#aboutCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#aboutCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#aboutCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
  </div>

  <!-- slides -->
  <div class="carousel-inner rounded-4 overflow-hidden shadow">
    <div class="carousel-item active">
      <img src="/images/about/about1.jpg" class="d-block w-100 about-photo" alt="Youth Group dinner">
      <div class="carousel-caption d-none d-md-block">
        <h5>Mentoring the youth</h5>
        <p>Here is a picture of a dinner I had with the graduating grade 12's of the youth group.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/about/about2.jpg" class="d-block w-100 about-photo" alt="Cupcakes">
      <div class="carousel-caption d-none d-md-block">
        <h5>Beliciousweets</h5>
        <p>Simple cupcakes I decorated for special occasion</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/about/about3.jpg" class="d-block w-100 about-photo" alt="Heart-shaped cake">
      <div class="carousel-caption d-none d-md-block">
        <h5>Beliciousweets</h5>
        <p>Pink glittery vintage heart-shaped cake I made for a birthday</p>
        </div>
    </div>
    <div class="carousel-item">
      <img src="/images/about/about4.jpg" class="d-block w-100 about-photo" alt="Isabela and Hunter">
      <div class="carousel-caption d-none d-md-block">
        <h5>Community</h5>
        <p>Helped out at Ontario Tech's Open House 2025 and caught a photo with Hunter!</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/about/about5.jpg" class="d-block w-100 about-photo" alt="Wedding cake">
      <div class="carousel-caption d-none d-md-block">
        <h5>Beliciousweets</h5>
        <p>A simple 3 tier cake with fresh florals I made for a wedding.</p>
      </div>
    </div>
  </div>

   <!-- arrows -->
  <button class="carousel-control-prev" type="button" data-bs-target="#aboutCarousel" data-bs-slide="prev" aria-label="Previous">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#aboutCarousel" data-bs-slide="next" aria-label="Next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>
<!-- ===== CAROUSEL END ===== -->


<ul>
  <li><strong>Technical Skills:</strong> Python, VBA, SAP ERP, Power BI, Microsoft 365, HTML, CSS, JavaScript, ExpressJS</li>
  <li><strong>Soft Skills:</strong> Communication, leadership, project planning, and collaboration</li>
  <li><strong>Interests:</strong> Baking, entrepreneurship, and process improvement</li>
</ul>

<%- include('../partials/footer') %>
