<%- include('../partials/header') %>

<div class="row align-items-center g-5">
  <div class="col-md-5 text-center">
    <img class="img-fluid rounded shadow headshot" src="/images/headshot.jpg" alt="Headshot">
  </div>
  <div class="col-md-7">
    <h1 class="display-5 fw-bold">Isabela Valles</h1>
    <p class="lead">Technology Management student passionate about creating, organizing, and helping others through design and problem-solving.</p>
    <a class="btn btn-light me-2" href="/projects">
      <i class="fa-regular fa-grid-2"></i> View Projects
    </a>
    <a class="btn btn-outline-light" href="/contact">
      <i class="fa-regular fa-paper-plane"></i> Contact
    </a>
  </div>
</div>

<%- include('../partials/footer') %>
